button:hover {
  cursor: pointer;
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  
}
body{
 background-color: #72A0C1;
}
section {
  display: flex;
  justify-content: center;
}
/*Header*/
header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 5px;
}
header h1 {
  width: 50%;
  height: 30px;
  font-size: 150%;
}
header h2 {
  font-size: 150%;
}

/*Correct or Wrong Answer Colors*/
.btn-correct {
  background-color: aquamarine;
}
.btn-wrong {
  background-color: brown;
}

/*First container (Start)*/
.container h1 {
  text-align: center;
  margin: 0px 10px 10px 10px;
  font-size: 200%;
}

#startContainer,
#questions {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  width: 40%;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#start-container div {
  text-align: center;
  
}

#btnStart,#startAgain,#clearHighScore {
 
  margin-top: 20px;
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }


#clearHighScore {
width: 150px;
}
/* Second Container (Questions Quitz)*/
#questions {
  padding: 0;
}
#questions p {
  font-size: 140%;
  width: 100%;
  height: 120px;
  padding: 30px 40px 10px 40px;
}
#questions button {
  border: none;
  border-radius: 20px;
  width: 40%;
  height: 50px;
}
#answerDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 20px;
}
/*Third Container (Initials)*/

#btnDiv {
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
}
#initials button {
  width: 100px;
  border-radius: 20px;
  border-style: none;
  padding: 10px;
}
#initials h2 {
  width: 100%;
  font-size: 120%;
}
#text {
  margin: 10px;
  padding: 10px;
  border-style: dashed;
  resize: none;
}

/*-----------Hide-----------*/

#questions,
.hideQuestions,
#initials,
#finalScore {
  display: none;
}

/*--------------------------------*/
