button:hover {
  cursor: pointer;
}
section {
  display: flex;
  justify-content: center;
}
/*Header*/
header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 5px;
}
/*Correct or Wrong Answer Colors*/
.btn-correct {
  background-color: aquamarine;
}
.btn-wrong {
  background-color: brown;
}

/*First container (Start)*/
.container h1 {
  text-align: center;
  margin: 0px 10px 10px 10px;
  font-size: 200%;
}

#startContainer,
#questions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  width: 40%;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#start-container div {
  text-align: center;
}

#btnStart {
  width: 120px;
  padding: 8px;
  border-radius: 20px;
  border-style: none;
  margin-top: 20px;
  
}
/* Second Container (Questions Quitz)*/
#questions {
  padding: 0;
}
#questions p {
  font-size: 140%;
  width: 100%;
  height: 120px;
  padding: 30px 40px 10px 40px;
}
#questions button {
  border: none;
  border-radius: 20px;
  width: 40%;
  height: 50px;
}
#answerDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 20px;
}
/*Third Container (Initials)*/

#btnDiv {
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
}
#initials button {
  width: 100px;
  border-radius: 20px;
  border-style: none;
  padding: 10px;
}
#initials h2 {
  width: 100%;
}
#text {
  margin: 10px;
  padding: 10px;
  border-style: dashed;
  resize: none;
}

/*-----------Hide-----------*/

#questions,
.hideQuestions,
#initials,
#finalScore {
  display: none;
}

/*--------------------------------*/
